* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
$branco: #fff;
$marrom: #3C2313;
$bege: #F0A83E;
$cinza: #8A8787;
$escuro: #222;
$banner: url(../img/banner.png);
